{% extends "listapp/base.html" %}

{% block content %}

<div class="row justify-content-center mt-5">
  <div class="col-md-7 text-center">

    <h1>Organize your life with Listify!</h1>
    <br>
    <p>This is PET project. Designed and developed by Dmytro Duda.</p>
    <br>
    <p>The app give you ability to improve managing  your daily routine tasks. 
        Also you could prioritize your tasks to not miss something important.
        The app is free to use and only requires account registration from you.</p> 
    <br>
    <p>Language: Python 3.10.4.
        Frameworks: Django Framework 4, Bootstap 5.
        Platform: Heroku.</p>
        
        
        https://github.com/dmytrodudait/Listify</p>
    <a role="button" class="btn btn-primary btn-lg mt-3" href="{% url 'signupuser' %}">Start</a>
  </div>
</div>

{% endblock %}
